<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shield"
        tools:targetApi="31">
        <activity
            android:name=".profil.CongratsWEnd"
            android:exported="false" />
        <activity
            android:name=".signin.SigninHome"
            android:exported="false" />
        <activity
            android:name=".profil.AddChild"
            android:exported="false" />
        <activity
            android:name=".profil.ConfirmProfil"
            android:exported="false" />
        <activity
            android:name=".profil.Addprofil"
            android:exported="false" />
        <activity
            android:name=".bienvenueANDadddevice.AddDevice"
            android:exported="false" />
        <activity
            android:name=".bienvenueANDadddevice.Bienvenue"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".signin.SignIn"
            android:exported="false" />
        <activity
            android:name=".profil.CongratsWEnd"
            android:exported="false" />
        <activity
            android:name=".signin.SignUp"
            android:exported="false" />
        <activity
            android:name=".profil.Profil"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>